In [1]:
import random
from hyperborea3.db import execute_query_one
from hyperborea3.namegen import generate_name

In [2]:
tables = [
    "t150_common_name_elements",
    "t152_amazon_female_names",
    "t153_amazon_male_names",
    "t155_anglosaxon_female_names",
    "t156_anglosaxon_male_names",
    "t157_atlantean_female_names",
    "t158_atlantean_male_names",
    "t159_atlantean_clan_names",
    "t160_carolingian_frankish_female_names",
    "t161_carolingian_frankish_male_names",
    "t162_esquimaux_names",
    "t163_greek_female_names",
    "t164_greek_male_names",
    "t165_hyperborean_name_elements",
    "t167_hyperborean_family_names",
    "t168_ixian_female_names",
    "t169_ixian_male_names",
    "t170_keltic_female_names",
    "t171_keltic_male_names",
    "t172_kimmerian_female_names",
    "t173_kimmerian_male_names",
    "t174_kimmerian_krimmean_female_names",
    "t175_kimmerian_krimmean_male_names",
    "t176_lapp_female_names",
    "t177_lapp_male_names",
    "t179_lemurian_family_names",
    "t180_lemurian_female_names",
    "t181_lemurian_male_names",
    "t182_moorish_female_names",
    "t183_moorish_male_names",
    "t184_mu_names",
    "t185_pictish_female_names",
    "t186_pictish_male_names",
    "t188_roman_personal_names",
    "t189_roman_family_names",
    "t190_roman_cognomen",
    "t191_tlingit_names",
    "t192_viking_female_names",
    "t193_viking_male_names",
    "t195_yakut_female_names",
    "t196_yakut_male_names",
    "t197_epithets",
]

In [4]:
for t in tables:
    sql = f"""
        SELECT MIN(LENGTH(name)) AS min_length,
            MAX(LENGTH(name)) AS max_length
        FROM {t}
    """
    try:
        lengths = execute_query_one(sql)
    except:
        lengths = {"min_length": None, "max_length": None}
    print(t, lengths)

t150_common_name_elements {'min_length': None, 'max_length': None}
t152_amazon_female_names {'min_length': 5, 'max_length': 11}
t153_amazon_male_names {'min_length': 4, 'max_length': 11}
t155_anglosaxon_female_names {'min_length': 6, 'max_length': 11}
t156_anglosaxon_male_names {'min_length': 5, 'max_length': 10}
t157_atlantean_female_names {'min_length': 4, 'max_length': 11}
t158_atlantean_male_names {'min_length': 4, 'max_length': 12}
t159_atlantean_clan_names {'min_length': 6, 'max_length': 10}
t160_carolingian_frankish_female_names {'min_length': 7, 'max_length': 12}
t161_carolingian_frankish_male_names {'min_length': 5, 'max_length': 11}
t162_esquimaux_names {'min_length': 3, 'max_length': 12}
t163_greek_female_names {'min_length': 4, 'max_length': 10}
t164_greek_male_names {'min_length': 4, 'max_length': 12}
t165_hyperborean_name_elements {'min_length': 3, 'max_length': 3}
t167_hyperborean_family_names {'min_length': 4, 'max_length': 5}
t168_ixian_female_names {'min_length': 3, 'max_length': 9}
t169_ixian_male_names {'min_length': 4, 'max_length': 12}
t170_keltic_female_names {'min_length': 3, 'max_length': 9}
t171_keltic_male_names {'min_length': 4, 'max_length': 9}
t172_kimmerian_female_names {'min_length': 4, 'max_length': 11}
t173_kimmerian_male_names {'min_length': 5, 'max_length': 11}
t174_kimmerian_krimmean_female_names {'min_length': 4, 'max_length': 11}
t175_kimmerian_krimmean_male_names {'min_length': 5, 'max_length': 11}
t176_lapp_female_names {'min_length': 3, 'max_length': 9}
t177_lapp_male_names {'min_length': 4, 'max_length': 7}
t179_lemurian_family_names {'min_length': 2, 'max_length': 10}
t180_lemurian_female_names {'min_length': 2, 'max_length': 8}
t181_lemurian_male_names {'min_length': 2, 'max_length': 8}
t182_moorish_female_names {'min_length': 4, 'max_length': 10}
t183_moorish_male_names {'min_length': 4, 'max_length': 9}
t184_mu_names {'min_length': 4, 'max_length': 16}
t185_pictish_female_names {'min_length': 3, 'max_length': 11}
t186_pictish_male_names {'min_length': 6, 'max_length': 14}
t188_roman_personal_names {'min_length': None, 'max_length': None}
t189_roman_family_names {'min_length': None, 'max_length': None}
t190_roman_cognomen {'min_length': None, 'max_length': None}
t191_tlingit_names {'min_length': 3, 'max_length': 8}
t192_viking_female_names {'min_length': 3, 'max_length': 10}
t193_viking_male_names {'min_length': 4, 'max_length': 9}
t195_yakut_female_names {'min_length': 3, 'max_length': 10}
t196_yakut_male_names {'min_length': 5, 'max_length': 9}
t197_epithets {'min_length': 7, 'max_length': 16}

In [14]:
# roman names
for t in tables:
     if "roman" in t:
        sql = f"""
            SELECT MIN(LENGTH(female_name)) AS min_female_length,
            MIN(LENGTH(male_name)) AS min_male_length,
            MAX(LENGTH(female_name)) AS max_female_length,
            MAX(LENGTH(male_name)) AS max_male_length
            FROM {t}
        """
        try:
            lengths = execute_query_one(sql)
        except:
            lengths = {"min_length": None, "max_length": None}
        print(t, lengths)

t188_roman_personal_names {'min_female_length': 4, 'min_male_length': 5, 'max_female_length': 7, 'max_male_length': 8}
t189_roman_family_names {'min_female_length': 5, 'min_male_length': 6, 'max_female_length': 9, 'max_male_length': 10}
t190_roman_cognomen {'min_female_length': 3, 'min_male_length': 3, 'max_female_length': 10, 'max_male_length': 10}

In [5]:
for t in tables:
    sql = f"""
        SELECT MAX(id) AS die_size
        FROM {t}
    """
    die_size = execute_query_one(sql)
    print(t, die_size)

t150_common_name_elements {'die_size': 100}
t152_amazon_female_names {'die_size': 50}
t153_amazon_male_names {'die_size': 20}
t155_anglosaxon_female_names {'die_size': 40}
t156_anglosaxon_male_names {'die_size': 40}
t157_atlantean_female_names {'die_size': 40}
t158_atlantean_male_names {'die_size': 60}
t159_atlantean_clan_names {'die_size': 12}
t160_carolingian_frankish_female_names {'die_size': 25}
t161_carolingian_frankish_male_names {'die_size': 50}
t162_esquimaux_names {'die_size': 50}
t163_greek_female_names {'die_size': 50}
t164_greek_male_names {'die_size': 50}
t165_hyperborean_name_elements {'die_size': 60}
t167_hyperborean_family_names {'die_size': 16}
t168_ixian_female_names {'die_size': 32}
t169_ixian_male_names {'die_size': 50}
t170_keltic_female_names {'die_size': 50}
t171_keltic_male_names {'die_size': 50}
t172_kimmerian_female_names {'die_size': 40}
t173_kimmerian_male_names {'die_size': 40}
t174_kimmerian_krimmean_female_names {'die_size': 20}
t175_kimmerian_krimmean_male_names {'die_size': 20}
t176_lapp_female_names {'die_size': 20}
t177_lapp_male_names {'die_size': 20}
t179_lemurian_family_names {'die_size': 60}
t180_lemurian_female_names {'die_size': 80}
t181_lemurian_male_names {'die_size': 80}
t182_moorish_female_names {'die_size': 25}
t183_moorish_male_names {'die_size': 30}
t184_mu_names {'die_size': 60}
t185_pictish_female_names {'die_size': 20}
t186_pictish_male_names {'die_size': 40}
t188_roman_personal_names {'die_size': 25}
t189_roman_family_names {'die_size': 25}
t190_roman_cognomen {'die_size': 50}
t191_tlingit_names {'die_size': 40}
t192_viking_female_names {'die_size': 100}
t193_viking_male_names {'die_size': 100}
t195_yakut_female_names {'die_size': 12}
t196_yakut_male_names {'die_size': 12}
t197_epithets {'die_size': 36}

In [12]:
results = [(random.random() < 0.05) for _ in range(1000000)]
avg = sum(results) / len(results)
avg

0.049831

Try to figure out longest possible name

In [3]:
names = set([generate_name(0, "Any") for _ in range(10000)])

In [4]:
len(names)

6351

In [5]:
names = set([generate_name(0, "Any") for _ in range(10000)])

In [6]:
len(names)

6451

In [7]:
names = set([generate_name(0, "Any") for _ in range(50000)])

In [8]:
len(names)

25459

In [9]:
max([len(x) for x in names])

33

In [10]:
[x for x in names if len(x) == 33]

['Dubnovellaunos nepos Cingetorigis']

In [11]:
names = set([generate_name(0, "Any") for _ in range(1_000_000)])

In [12]:
len(names)

216674

In [13]:
max([len(x) for x in names])

34

In [14]:
[x for x in names if len(x) == 34]

['Dubnovellaunos nepos Dubnovellauni']

In [2]:
def find_longest_name(runs: int):
    names = set([generate_name(0, "Any") for _ in range(runs)])
    unique_names = len(names)
    longest_len = max([len(x) for x in names])
    longest_names = [x for x in names if len(x) == longest_len]
    return {
        "runs": runs,
        "unique_names": unique_names,
        "longest_len": longest_len,
        "longest_names": longest_names,
    }

In [16]:
find_longest_name(2_000_000)

{'runs': 2000000,
 'unique_names': 355731,
 'longest_len': 34,
 'longest_names': ['Dubnovellaunos nepos Dubnovellauni']}

In [17]:
find_longest_name(5_000_000)

{'runs': 5000000,
 'unique_names': 703263,
 'longest_len': 34,
 'longest_names': ['Dubnovellaunos nepos Dubnovellauni']}

```
runs: 10,000,000
platform: windows
python: 3.10
time: 291m52s
```

In [4]:
find_longest_name(10_000_000)

{'runs': 10000000,
 'unique_names': 1200110,
 'longest_len': 34,
 'longest_names': ['Dubnovellaunos nepos Dubnovellauni']}

```
runs: 10,000,000
platform: windows
python: 3.11
time: 
```

In [3]:
find_longest_name(10_000_000)

{'runs': 10000000,
 'unique_names': 1199665,
 'longest_len': 34,
 'longest_names': ['Dubnovellaunos nepos Dubnovellauni']}